# we don't care about encryption in this example it is a toy project.
{
  auto_https off
}

:80 {

  root * /srv

  file_server

  basic_auth * argon2id {
    # Username "Bob", password "hiccup"
    Bob $argon2id$v=19$m=47104,t=1,p=1$zJPvVe48N64JUa9MFlVhiw$b5Tznu0PxnA4TciY6qYe2BFPxncF1ePQaeNukHhH1cU
  }

}
